/*
 * Généralités
 */
body
{
	font-size: 13px;
	font-family: Arial;
}

h1
{
	text-align: center;
	font-size: 1.5em;
	margin: 10px;
	color: rgb(100, 60, 60);
}

/*
 * Mise en forme des boutons
 */
input[type="button"], input[type="submit"], button
{
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	
	color:#343434;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #656565;
	background:#d4d4d4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4d4", endColorstr="#9b9b9b"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#9b9b9b));
	background: -webkit-linear-gradient(#d4d4d4, #9b9b9b);
	background: -moz-linear-gradient(#d4d4d4, #9b9b9b);
	background: -o-linear-gradient(#d4d4d4, #9b9b9b); 
	background: -ms-linear-gradient(#d4d4d4, #9b9b9b); 
	background: linear-gradient(#d4d4d4, #9b9b9b); 
}

input[type="button"]:active, input[type="submit"]:active, button:active {
	color:#343434;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #656565;
	background:#9b9b9b;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b9b9b", endColorstr="#d4d4d4"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#9b9b9b), to(#d4d4d4));
	background: -webkit-linear-gradient(#9b9b9b, #d4d4d4);
	background: -moz-linear-gradient(#9b9b9b, #d4d4d4);
	background: -o-linear-gradient(#9b9b9b, #d4d4d4); 
	background: -ms-linear-gradient(#9b9b9b, #d4d4d4); 
	background: linear-gradient(#9b9b9b, #d4d4d4); 
}

/*
 * liste des patrons
 */
#formSelectPattern {
	margin: 20px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 7px;
	border: solid 1px #aaaaaa;
	text-align: center;
	color: #444444;
	overflow: hidden;
	
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	
}

#formSelectPattern select:focus
{
	outline: none;
}

#formSelectPattern select
{
	background: transparent;
	border: none;
	padding-left: 10px;
	padding-right: 30px;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	background-image: url("../img/fleche_select.png");
	background-repeat: no-repeat;
	background-position: right;
	
	font-size: 1.4em;
}

/*
 * Contenu des paneaux latéraux
 */
#prefixes .panel
{
	width: 370px;
}

#configuration .panel
{
	width: 430px;
}

#configuration label
{
	display: inline-block;
	width: 110px;
	line-height: 25px;
	text-align: right;
	margin-right: 5px;
}

#configuration input[type="text"], #configuration select
{
	width: 300px;
}

#configuration input[type="button"]
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#prefixes .prefixLine
{
	display: inline-block;
	width: 370px;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}

#prefixes .listLabel
{
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 25px;
}

#prefixes .prefix
{
	color: green;
	display: inline-block;
	width: 70px;
	line-height: 25px;
	text-align: right;
	vertical-align: top;
	margin-right: 5px;
}

#prefixes .uri
{
	display: inline-block;
	padding: 4px;
	max-width: 280px;
}

/*
 * layout
 */
#toggleMoving
{
	position: absolute;
	right: 10px;
	display: none;
}

/*
 * graphe
 */
._jsPlumb_connector { z-index: 19; }

._jsPlumb_endpoint { z-index: 20; }

._jsPlumb_overlay { z-index: 21; }

.graph {
	margin: 0px auto;
	border: dashed 1px gray;
}

.node {
	z-index: 20;
	margin: 0px;
	padding: 10px;
	position: absolute;
	text-align: center;
	height: auto;
    width: auto;
}

.node:hover
{
	cursor:  move;
}

.class
{
	background-image: url("../img/ellipse.png");
	background-size: 100% 100%;
}

.class:hover
{
	background-image: url("../img/ellipse_hover.png");
}

.classSelected
{
	background-image: url("../img/ellipse_green.png");
}

.subPatternClassSelected
{
	background-image: url("../img/ellipse_blue.png");
}

.literal
{
	background: #d4d5d5;
	border: solid 1px #8f9090;
}

.literal:hover
{
	background: #ec9f2e;
}

.literalSelected
{
	background-color: #78D278;
}

.subPatternLiteralSelected
{
	background-color: #62A9FF;
}

.predicateLabel
{
	z-index: 20;
	margin: 0px;
	padding: 0px 2px;
	background-color: rgba(249, 249, 249, 0.7);
}

/*
 * phrase descriptive
 */

.sentence
{
	font-size: 1.2em;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.nodeRef
{
	color: green;
}

.subPatternRef
{
	color: blue;
}

.string
{
	font-style: italic;
}

.nodeRef:hover, .subPatternRef:hover
{
	font-weight: bold;
	cursor: default;
}