/**
 * General
 **/

body
{
	margin: 0px;
	padding: 0px;
	font-size: .8em;
	font-family: Arial, Helvetica, sans-serif;
}

a
{
	color: black;
	text-decoration: none;
}

h1
{
	color: rgb(100, 60, 60);
}

h2
{
	color: rgb(70, 30, 30);
}

.pointer:hover {
	cursor:  pointer;
	background-color: rgb(230, 230, 230);
}


/**
 * left tabs
 **/

 .lefttab .showHideButton {
	z-index: 1;
	position:fixed;
	left: 0;
	background-repeat:no-repeat;
	background-position: center;
	background-color: rgb(230, 230, 230);
	height: 22px;
	width: 22px;
 }

.lefttab .content {
	z-index: 1;
	position:fixed;
	background-color: rgb(230, 230, 230);
	width: 700px;
	padding: 10px;
	left: -920px;
}

.lefttab .content h2 {
	margin-top: 0px;
}

#disclaimer .showHideButton {
	top: 20px;
	background-image:url(../img/disclaimer.svg);
}

#disclaimer .content {
	top: 20px;
}

#configurations .showHideButton {
	top: 50px;
	background-image:url(../img/configurations.svg);
}

#configurations .content {
	top: 50px;
}



/**
 * Config panel
 **/

#configurations th:first-child
{
	text-align: right;
	width: 200px;
}

#configurations th:nth-child(2)
{
	text-align: left;
}

#configurations table
{
	width: 100%;
	font-size: 75%;
}

#configurations input
{
	width: 100%;
	height: 12px;
	font-size: 120%;
}


/**
 * Logo
 **/

#logo
{
	position:relative;
	margin: 200px auto 10px auto;
	height: 76px;
}

#swiplogo
{
	position:absolute;
	width: 808px;
	left: 50%;
	margin-left: -325px;
	clip:rect(0, 414px, 76px, 236px);
}

#halo
{
	position:absolute;
	width: 178px;
	height: 76px;
	left: 50%;
	margin-left: -89px;
}


/**
 * processingstate
 **/

#processingstate
{
	display: none;
	position: fixed;
	width: 200px;
	right: 0;
	background-color: rgb(220, 220, 220);
	padding: 8px;
	border-radius: 10px;
	margin-right: 10px;
}

#processingstate ol
{
	padding-left: 25px;
}

#processingstate li
{
	list-style-type: none;
}

#processingstate .done
{
	list-style-image: url('../img/done-small.svg');
}


/**
 * Search form
 **/

#form table
{
	margin-right: auto;
	margin-left: auto;	
}

#form
{
	/*width: 100%;*/
	text-align: right;
}

#form .searchField
{
	width: 450px;
}

#form .searchButton
{
	width: 150px;
}


#result img
{
	width: 12px;
}


/**
 * Result
 **/

#result
{
	margin: 0px 250px 20px 30px;
	padding: 0px;
}

#result table th, td
{
	padding: 2px 7px;
}

#result table tr:nth-child(even)
{
	background-color: rgb(240, 240, 240);
}

#result table tr:nth-child(odd)
{
	background-color: rgb(220, 220, 220);
}

#result table tr:hover
{
	background-color: rgb(120, 90, 90);
}

#elementmappingresults li:hover
{
	cursor:  pointer;
}

#elementmappingresults table
{
	display: none;
}

.mark
{
	float: right;
}

.descsent
{
	font-size: 1.2em;
	color: rgb(70, 0, 0);
}

.CodeMirror {
    height: auto;
	background-color: rgb(220, 220, 220);
	padding: 10px;
	border-radius: 0px 30px;
	margin-right: auto;
}


/**
 * jQuery UI override
 **/

#results li .ui-icon-close { float: left; margin: 4px 0px 0px 0px; cursor: pointer; }












#result .pivottomappings .spcollectionmappings li
{
	list-style-type:none; 
}