/*
 * Généralités
 */
h1, h2
{
	cursor: pointer;
}

h2
{
	text-align: center;
	font-size: 1.2em;
	margin: 10px;
	color: rgb(100, 60, 60);
}

/*
 * Styles d'édition des préfixes
 */
#prefixes label
{
	display: inline-block;
	width: 110px;
	line-height: 25px;
	text-align: right;
	margin-right: 5px;
}

#prefixes legend
{
	font-style: italic;
}

#prefixes .prefixLine:hover
{
	border: dashed 1px gray;
}

#prefixes .deletePrefix
{
	display: none;
	position: absolute;
	right: 12px;
	margin-top: -7px;
}

#addButton
{
	position: absolute;
	margin-left: 17px;
	top: 45px;
}

fieldset
{
	border: groove 2px #508AC5;
}

/*
 * Mise en évidence des patrons désactivés
 */

.patternDisactivated
{
	background-color: #FF8282;
}

/*
 * partie Update Patterns
 */
#updatePatterns
{
	text-align: center;
	display: none;
}

#translatingOptionsPart, #sendingOptionsPart
{
	display: none;
}

#inputFile
{
	display: none;
}

#selectFileButton
{
	margin-bottom: 10px;
}

#updatePatterns textarea
{
	width: 800px;
	height: 400px;
}

#updatePatterns label
{
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-left: 5px;
}

#updatePatterns input[type=text]
{
	width: 300px;
}
