/**
 * General
 **/
body
{
	margin: 0px;
	padding: 0px;
}


/**
 * Logo
 **/
#logo
{
	width: 100%;
	margin-top: 200px;
	text-align: center;
}


/**
 * Search form
 **/
#form
{
	width: 100%;
	text-align: center;
}


/**
 * Result table
 **/
#result
{
	width: 80%;
	padding-top: 30px;
	margin-left: 10%;
}

#result #jqGrid td.descriptiveSentence
{
	padding-left: 20px;
	text-align: left;
}
#result #jqGrid td.relevanceMark
{
	text-align: center;
}

#result #jqGrid div.tablediv
{
	padding : 20px 0px 20px 30px;
}