/**
 * General
 **/

body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}


/**
 * Logo
 **/

#logo
{
	width: 100%;
	margin-top: 200px;
	text-align: center;
}


/**
 * Search form
 **/

#form
{
	width: 100%;
	text-align: center;
}

#searchField
{
	width : 300px;
}


/**
 * Loading icon
 **/

#loading
{
	display: none;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}


/**
 * Result table
 **/

#results
{
	display: none;
	width: 80%;
	margin-top: 30px;
	margin-left: 10%;
}

#results #jqGrid td.descriptiveSentence
{
	padding-left: 20px;
	text-align: left;
}
#results #jqGrid td.relevanceMark
{
	text-align: center;
}


/**
 * jQuery UI override
 **/

.ui-tabs-nav li {position: relative;}
.ui-tabs-selected a span {padding-right: 10px;}
.ui-tabs-close {display: none;position: absolute;top: 3px;right: 0px;z-index: 800;width: 16px;height: 14px;font-size: 10px; font-style: normal;cursor: pointer;}
.ui-tabs-selected .ui-tabs-close {display: block;}
