body{
  margin:0;
  /*padding:20px;*/
  font:12px/17px Arial, sans-serif;
  background:#f9f9f9;
}

#viewport {
	width: 1200px;
	height: 600px;
}

#controlPanel {
	position: fixed;
	top: 0;
	right: 0;	font-size: small;
}

#controlPanel, #controlPanel input, #controlPanel button {
	font-size: .9em;
}

.patternCandidate { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	width:14em; height:4em; 
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	background-color:white;
}

.sparqlQuery { 
	border:0.2em dotted #05e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	/*width:14em; height:4em; */
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	background-color:grey;
}

.abstractedSparqlQuery { 
	border:0.2em dotted #05e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	/*width:14em; height:4em; */
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	background-color:grey;
}

.nodeDetails { 
	display: none;
	text-align: left;
}


#window1 { left:20em; top:4em;}
#window2 { left:10em;top:16em;}
#window3 { left:40em;top:16em;}
#window4 { left:4em;top:28em;}
#window5 { left:22em;top:28em;}
#window6 { left:47em;top:28em;}
#window7 { top:18em;left:44em;}
#window8 { left:63em;top:36em;}
